input {
  color: #000000;
}

td {
  color: #9397d8;
}

button {
  background: #fd79fc;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
}

.decrease, .increase {
  width: 20px;
}

.number {
  width: 30px;
  color: black;
  text-align: center;
}

.card {
  background: #24262c;
}

.select-quantity {
  display: inline;
}

.date, .price {
  color: #9397d8;
}

.description {
  color: #66d9f7;
}

.panel-body {
  display: table;
  padding: 0;
}

.featured {
  background: #57595D;
  -webkit-border-image: -webkit-linear-gradient(right, #818fd8 0%, #cbb4e2 50%, #a6f2f5 100%);
  -o-border-image: linear-gradient(to left, #818fd8 0%, #cbb4e2 50%, #a6f2f5 100%);
  border-image: linear-gradient(to left, #818fd8 0%, #cbb4e2 50%, #a6f2f5 100%);
  border-image-slice: 1;
}

.photo {
  float: left;
  margin-right: 30px;
}

.price {
  margin: 0;
  font-size: 18px;
  text-align: center;
  width: 120px;
}

.price-total {
  background:  #9179b7;
  float: right;
  margin: 30px 0;
  padding: 20px 50px;
  text-transform: uppercase;
}

.price-total h3, .price-total p {
  display: inline-block;
  margin: 0;
}

.price-total p {
  color: #362751;
  font-size: 18px;
  font-weight: bold;
}

.price-total h3 {
  font-size: 18px;
  margin-right: 60px;
}

.product-info {
  display: table-cell;
  vertical-align: middle;
}

.product-info td {
  padding: 0 20px;
}

.product-info tr {
  width: 100%;
  display: inline-block;
}
