<div class="container">
  <h3 class="text-center">CarPart Registration [Reactive Form] </h3>
  <form [formGroup]="carPartForm" (ngSubmit)="onSubmit()">

    <table  class="table table-bordered table table-hover">
      <tr>
        <td>Id :</td>
        <td>
          <input type="text" name="id" formControlName="id" ><br>
          <div *ngIf="carPartForm.controls['id'].touched"  [hidden]="carPartForm.controls['id'].valid" nstyle="alert alert-danger">
            ID를 입력하세요
          </div>
        </td>
      </tr>
      <tr>
        <td>name :</td>
        <td>
          <input type="text" name="name"  formControlName="name" >
          <div *ngIf="carPartForm.controls['name'].touched"  [hidden]="carPartForm.controls['name'].valid" style="alert alert-danger">
            이름을 입력하세요
          </div>
        </td>
      </tr>
      <tr>
        <td>description :</td>
        <td>
          <input type="text" name="description"  formControlName="description">
          <div *ngIf="carPartForm.controls['description'].touched"  [hidden]="carPartForm.controls['description'].valid" style="alert alert-danger">
            설명을 입력하세요
          </div>
        </td>
      </tr>
      <tr>
        <td>price :</td>
        <td>
          <input type="number" name="price" formControlName="price">
          <div *ngIf="carPartForm.controls['price'].errors && carPartForm.controls['price'].touched"
               [hidden]="carPartForm.controls['price'].valid" style="alert alert-danger">
            <div *ngIf="carPartForm.controls['price'].errors.required">
              가격을 입력하세요
            </div>
            <div *ngIf="carPartForm.controls['price'].errors.min">
              가격은 500 보다 작으면 않되요
            </div>
            <div *ngIf="carPartForm.controls['price'].errors.max">
              가격은 5000 보다 크면 않되요
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>quantity :</td>
        <td>
          <input type="number" name="quantity"  formControlName="quantity" >
          <div *ngIf="carPartForm.controls['quantity'].errors && carPartForm.controls['quantity'].touched"
               [hidden]="carPartForm.controls['quantity'].valid" style="alert alert-danger">
            <div *ngIf="carPartForm.controls['quantity'].errors.required">
              수량을 입력하세요
            </div>
            <div *ngIf="carPartForm.controls['quantity'].errors.pattern">
              0~9의 숫자로 입력하세요
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"  class="text-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </td>
      </tr>
    </table>

    <br>
    <div style="background-color:gray">
      <div [innerText]="'Id:' + carPartForm.controls['id'].value "></div>
      <div [innerText]="'name:' + carPartForm.controls['name'].value"></div>
      <div [innerText]="'description:' + carPartForm.controls['description'].value"></div>
      <div [innerText]="'price:' + carPartForm.controls['price'].value"></div>
      <div [innerText]="'quantity:' + carPartForm.controls['quantity'].value"></div>
    </div>
  </form>
</div>
